<!--
===============================================================================
= SECTION: HTML SECTION
= Description: This section can be modified to change display orders on anki
=              front card.
===============================================================================
-->

<div class="deck-title">{{Deck}}</div>

<div class="{{Display Theme}}">

  <!-- Puzzle metadata -->
  <div class="puzzle-meta">
    <h1 class="clean-pill">{{PuzzleID}}</h1>
    <div class="clean-pill-bold" id="moves"></div>
  </div>

  <!-- Puzzle display theme -->
  <figure>
    <c:chess id="fen_fig" class="cdig"></c:chess>
  </figure>

  <!-- Puzzle to move pill -->
  <div class="puzzle-meta">
  <h2 id="to_move" class="clean-pill"></h2>
  </div>
</div>

<!--
===============================================================================
= SECTION: JS SCRIPT
= Description: From there to the end, js script is used to display chessboard
=              correctly. You should modify it only if you know what you're
=              doing.
===============================================================================
-->

<script type="text/javascript">
/*==============================================================================
 * Javascript renderer engine of the HTMLTTChess package
 *
 * Copyright (C) 2007-2016  Michael Peeters <https://github.com/xeyownt>
 *
 * This file is part of the HTMLTTChess package
 * <https://github.com/xeyownt/htmlttchess>.
 *
 * HTMLTTChess is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * HTMLTTChess is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
 *
 *==============================================================================
 */

var XMLNS = 'c:';

var ATTR_BORDER = 'border';
var VALUE_BORDER_SOLID = 'solid';
var VALUE_BORDER_DOUBLE = 'double';
var VALUE_BORDER_SQUARE = 'square';
var VALUE_BORDER_ROUND = 'round';
var VALUE_BORDER_PAD = 'pad';
var ATTR_MODE = 'mode';
var VALUE_MODE_COLOR = 'color';
var VALUE_MODE_BW = 'bw';
var ATTR_STYLE = 'cstyle';
var ATTR_CLASS = 'cclass';
var VALUE_CLASS_BW_TABLE = 'bwchess';
var VALUE_CLASS_COLOR_TABLE = 'chess';
var VALUE_CLASS_BW_SPAN_HL = 'bwhl';
var VALUE_CLASS_COLOR_SPAN_HL = 'hl';

var MFB = ' ';

var FEN = 'KQRBNPkqrbnp.+x';
var MERIDA_LIGHT = '♔♕♖♗♘♙♚♛♜♝♞♟' + MFB + '•✕';
var MERIDA_DARK = '';
var MERIDA_PIECE_BG = '' + MFB + MFB + MFB;

var BOARD_SQUARE_ROW = MFB + '' + MFB + '' + MFB + '' + MFB + '' + MFB;
var MERIDA_COORD_COLS = 'abcdefgh';
var MERIDA_COORD_ROWS = '8<br/>7<br/>6<br/>5<br/>4<br/>3<br/>2<br/>1<br/>';
var MERIDA_FRAME_BLANK = MFB;
var MERIDA_FRAME_PADDING = MFB + MFB + MFB + MFB + MFB + MFB + MFB + MFB + MFB + MFB;
var MERIDA_FRAME_COL_PADDING = MFB + MFB + MFB + MFB + MFB + MFB + MFB + MFB + MFB + MFB;
var MERIDA_FRAME_ROW_PADDING =
    MFB + '<br/>' + MFB + '<br/>' + MFB + '<br/>' + MFB + '<br/>' + MFB + '<br/>' + MFB + '<br/>' + MFB + '<br/>' + MFB + '<br/>';

var MERIDA_FRAME_COLS = 'abcdefgh';
var MERIDA_FRAME_ROWS = '12345678';

var MERIDA_FRAME_D_BOTTOM = '';
var MERIDA_FRAME_D_BOTTOM_COORD = '';
var MERIDA_FRAME_D_LEFT = '';
var MERIDA_FRAME_D_LEFT_COORD = '';
var MERIDA_FRAME_D_RIGHT = '';
var MERIDA_FRAME_D_RIGHT_COORD = '';
var MERIDA_FRAME_D_ROUND_CORNER = '';
var MERIDA_FRAME_D_SQUARE_CORNER = '';
var MERIDA_FRAME_D_TOP = '';
var MERIDA_FRAME_D_TOP_COORD = '';

var MERIDA_FRAME_S_BOTTOM = '';
var MERIDA_FRAME_S_BOTTOM_COORD = '';
var MERIDA_FRAME_S_LEFT = '';
var MERIDA_FRAME_S_LEFT_COORD = '';
var MERIDA_FRAME_S_RIGHT = '';
var MERIDA_FRAME_S_RIGHT_COORD = '';
var MERIDA_FRAME_S_ROUND_CORNER = '';
var MERIDA_FRAME_S_SQUARE_CORNER = '';
var MERIDA_FRAME_S_TOP = '';
var MERIDA_FRAME_S_TOP_COORD = '';

function detectIE() {
    return navigator.appName == 'Microsoft Internet Explorer';
}

function ChessBoard(_fenCode, _attrBorder, _colorMode, _attrStyle, _attrClass) {
    this.fenCode = _fenCode;
    this.attrBorder = _attrBorder.split(' ');
    this.colorMode = _colorMode;
    this.attrStyle = _attrStyle;
    this.attrClass = _attrClass;

    this.rowCount = 0;
    this.colCount = 0;

    this.isBorderShownTop = false;
    this.isBorderShownBottom = false;
    this.isBorderShownLeft = false;
    this.isBorderShownRight = false;
    this.isCoordShownTop = false;
    this.isCoordShownBottom = false;
    this.isCoordShownLeft = false;
    this.isCoordShownRight = false;
    this.isBorderStyleSimple = true;
    this.isCornerStyleRound = true;
    this.isCoordPadded = false;
    this.coordOriginCol = 0;
    this.coordOriginRow = 0;

    function isCoordinate(coord) {
        if (coord.length != 2) return false;
        var coordOriginCol = coord.charCodeAt(0) - 0x60;
        var coordOriginRow = coord.charCodeAt(1) - 0x30;
        return coordOriginCol >= 1 && coordOriginCol <= 8 && coordOriginCol >= 1 && coordOriginRow <= 8;
    }

    function isNSEO(nseo) {
        if (nseo.length > 4) return false;
        for (x = 0; x < nseo.length; x++) {
            var y = nseo.charAt(x);
            if (y != 'n' && y != 's' && y != 'e' && y != 'o') return false;
        }
        return true;
    }

    function extractBoardFromFEN(fen) {
        const boardMatch = fen.match(/(.*)([bwBW]\s+[KQkq-]+\s+[a-h1-8-]+\s+[0-9]+\s+[0-9]+\s*)/);
        if (boardMatch) {
            return boardMatch[1].trim();
        } else {
            return fen;
        }
    }

    this.parseFen = function () {
        this.fenCode = extractBoardFromFEN(this.fenCode);
        this.fenCode = this.fenCode.replace(/[\r\n\t ]/g, '');
        this.fenCode = this.fenCode.replace(/1/g, '.');
        this.fenCode = this.fenCode.replace(/2/g, '..');
        this.fenCode = this.fenCode.replace(/3/g, '...');
        this.fenCode = this.fenCode.replace(/4/g, '....');
        this.fenCode = this.fenCode.replace(/5/g, '.....');
        this.fenCode = this.fenCode.replace(/6/g, '......');
        this.fenCode = this.fenCode.replace(/7/g, '.......');
        this.fenCode = this.fenCode.replace(/8/g, '........');

        var flatFenCode = this.fenCode.replace(/\(/g, '').replace(/\)/g, '').split('/');
        this.fenCode = this.fenCode.split('/');
        this.rowCount = this.fenCode.length;

        this.colCount = flatFenCode[0].length;
        var checkOk = this.rowCount <= 8 && this.colCount <= 8;
        for (row in this.fenCode) {
            checkOk = checkOk && flatFenCode[row].length == this.colCount;
        }
        return checkOk;
    };

    this.parseattrBorder = function () {
        var isCoordShown = false;
        for (attrIdx in this.attrBorder) {
            var attr = this.attrBorder[attrIdx];
            if (attr == VALUE_BORDER_SOLID) {
                this.isBorderShownTop = true; this.isBorderShownBottom = true;
                this.isBorderShownLeft = true; this.isBorderShownRight = true;
                this.isBorderStyleSimple = true;
            } else if (attr == VALUE_BORDER_DOUBLE) {
                this.isBorderShownTop = true; this.isBorderShownBottom = true;
                this.isBorderShownLeft = true; this.isBorderShownRight = true;
                this.isBorderStyleSimple = false;
            } else if (isCoordinate(attr)) {
                isCoordShown = true;
                this.coordOriginCol = attr.charCodeAt(0) - 0x61;
                this.coordOriginRow = attr.charCodeAt(1) - 0x31;
                if (this.coordOriginCol + this.colCount > 8 || this.coordOriginRow + this.rowCount > 8) {
                    this.coordOriginCol = 0; this.coordOriginRow = 0;
                }
                this.isCoordShownLeft = this.isBorderShownLeft = this.coordOriginCol == 0;
                this.isCoordShownRight = this.isBorderShownRight = this.coordOriginCol + this.colCount == 8;
                this.isCoordShownBottom = this.isBorderShownBottom = this.coordOriginRow == 0;
                this.isCoordShownTop = this.isBorderShownTop = this.coordOriginRow + this.rowCount == 8;
            } else if (attr == VALUE_BORDER_SQUARE) {
                this.isBorderShownTop = true; this.isBorderShownBottom = true;
                this.isBorderShownLeft = true; this.isBorderShownRight = true;
                this.isCornerStyleRound = false;
            } else if (attr == VALUE_BORDER_ROUND) {
                this.isBorderShownTop = true; this.isBorderShownBottom = true;
                this.isBorderShownLeft = true; this.isBorderShownRight = true;
                this.isCornerStyleRound = true;
            } else if (attr == VALUE_BORDER_PAD) {
                this.isCoordPadded = true;
            } else if (isNSEO(attr)) {
                this.isCoordShownTop = false; this.isCoordShownBottom = false;
                this.isCoordShownLeft = false; this.isCoordShownRight = false;
                for (x = 0; x < attr.length; x++) {
                    switch (attr.charAt(x)) {
                        case 'n': this.isCoordShownTop = true; break;
                        case 's': this.isCoordShownBottom = true; break;
                        case 'o': this.isCoordShownLeft = true; break;
                        case 'e': this.isCoordShownRight = true; break;
                    }
                }
                if (!isCoordShown) {
                    this.isBorderShownLeft = this.isCoordShownLeft;
                    this.isBorderShownRight = this.isCoordShownRight;
                    this.isBorderShownBottom = this.isCoordShownBottom;
                    this.isBorderShownTop = this.isCoordShownTop;
                }
            }
        }
        this.isCoordShownLeft = isCoordShown && this.isCoordShownLeft;
        this.isCoordShownRight = isCoordShown && this.isCoordShownRight;
        this.isCoordShownBottom = isCoordShown && this.isCoordShownBottom;
        this.isCoordShownTop = isCoordShown && this.isCoordShownTop;
        return true;
    };

    this.genColorHTML = function () {
        if (!(this.parseFen() && this.parseattrBorder())) {
            return '<span style="color:red; font-weight: bold; font-family:monospace;">PARSE ERROR</span>';
        }
        if (this.colCount == 0 || this.rowCount == 0) { return ''; }

        var generatedHTML = '';
        this.attrClass = VALUE_CLASS_COLOR_TABLE + (this.attrClass == '' ? '' : ' ' + this.attrClass);
        generatedHTML += '<table class="' + this.attrClass + '"' + (this.attrStyle != '' ? ' style="' + this.attrStyle + '"' : '') + '>';

        if (this.isCoordShownTop) {
            generatedHTML += '<tr>' + (this.isCoordShownLeft || this.isCoordPadded ? '<td>&nbsp;</td>' : '') + '<td class="cols">' + MERIDA_COORD_COLS.substr(this.coordOriginCol, this.colCount) + '</td>' + (this.isCoordShownRight || this.isCoordPadded ? '<td>&nbsp;</td>' : '') + '</tr>';
        } else if (this.isCoordPadded) {
            generatedHTML += '<tr>' + (this.isCoordShownLeft || this.isCoordPadded ? '<td>&nbsp;</td>' : '') + '<td class="cols">' + MERIDA_FRAME_COL_PADDING.substr(0, this.colCount) + '</td>' + (this.isCoordShownRight || this.isCoordPadded ? '<td>&nbsp;</td>' : '') + '</tr>';
        }

        generatedHTML += '<tr>';
        if (this.isCoordShownLeft) {
            generatedHTML += '<td class="rows">' + MERIDA_COORD_ROWS.substr((8 - this.coordOriginRow - this.rowCount) * 6, this.rowCount * 6) + '</td>';
        } else if (this.isCoordPadded) {
            generatedHTML += '<td class="rows">' + MERIDA_FRAME_ROW_PADDING.substr(0, this.rowCount * 6) + '</td>';
        }

        var generatedSq = '', generatedBg = '', generatedFg = '';
        var isTopLeftSquareLight = (this.coordOriginRow + this.coordOriginCol + this.rowCount) & 1;
        for (row = 0; row < this.rowCount; row++) {
            var isALightSquare = (row + isTopLeftSquareLight) & 1 ? false : true;
            var inputRow = this.fenCode[row];
            var outputSqRow = '', outputBgRow = '', outputFgRow = '';
            var isHLOn = false;
            for (col = 0; col < inputRow.length; col++) {
                var cell = inputRow.charAt(col);
                if (cell == '(') {
                    if (!isHLOn) { outputSqRow += '<span class="' + VALUE_CLASS_COLOR_SPAN_HL + '">'; }
                    isHLOn = true;
                } else if (cell == ')') {
                    if (isHLOn) { outputSqRow += '</span>'; }
                    isHLOn = false;
                } else {
                    var idx = FEN.indexOf(cell);
                    if (idx > -1) { outputFgRow += MERIDA_LIGHT.charAt(idx); outputBgRow += MERIDA_PIECE_BG.charAt(idx); }
                    outputSqRow += isALightSquare ? BOARD_SQUARE_ROW.charAt(0) : BOARD_SQUARE_ROW.charAt(2);
                    isALightSquare = !isALightSquare;
                }
            }
            generatedSq += outputSqRow + (isHLOn ? '</span>' : '') + '<br/>';
            generatedBg += outputBgRow + '<br/>';
            generatedFg += outputFgRow + '<br/>';
        }

        var boardStyle = (this.isBorderShownTop ? '' : 'border-top:none !important;') + (this.isBorderShownBottom ? '' : 'border-bottom:none !important;') + (this.isBorderShownLeft ? '' : 'border-left:none !important;') + (this.isBorderShownRight ? '' : 'border-right:none !important;');
        generatedHTML += '<td class="board" style="width: ' + this.colCount + 'em;' + boardStyle + '"><div class="board"><div class="sq">' + generatedSq + '</div><div class="pcbg">' + generatedBg + '</div><div class="pcfg">' + generatedFg + '</div></div></td>';

        if (this.isCoordShownRight) {
            generatedHTML += '<td class="rows">' + MERIDA_COORD_ROWS.substr((8 - this.coordOriginRow - this.rowCount) * 6, this.rowCount * 6) + '</td>';
        } else if (this.isCoordPadded) {
            generatedHTML += '<td class="rows">' + MERIDA_FRAME_ROW_PADDING.substr(0, this.rowCount * 6) + '</td>';
        }
        generatedHTML += '</tr>';

        if (this.isCoordShownBottom) {
            generatedHTML += '<tr>' + (this.isCoordShownLeft || this.isCoordPadded ? '<td>&nbsp;</td>' : '') + '<td class="cols">' + MERIDA_COORD_COLS.substr(this.coordOriginCol, this.colCount) + '</td>' + (this.isCoordShownRight || this.isCoordPadded ? '<td>&nbsp;</td>' : '') + '</tr>';
        } else if (this.isCoordPadded) {
            generatedHTML += '<tr>' + (this.isCoordShownLeft || this.isCoordPadded ? '<td>&nbsp;</td>' : '') + '<td class="cols">' + MERIDA_FRAME_COL_PADDING.substr(0, this.colCount) + '</td>' + (this.isCoordShownRight || this.isCoordPadded ? '<td>&nbsp;</td>' : '') + '</tr>';
        }
        generatedHTML += '</table>';
        return generatedHTML;
    };

    this.genBWHTML = function () {
        if (!(this.parseFen() && this.parseattrBorder())) {
            return '<span style="color:red; font-weight: bold; font-family:monospace;">PARSE ERROR</span>';
        }
        if (this.colCount == 0 || this.rowCount == 0) { return ''; }

        var boardLeft, boardRight, boardTop, boardBottom, boardCorner;
        if (this.isBorderStyleSimple) {
            boardTop = this.isCoordShownTop ? (this.isBorderShownTop ? MERIDA_FRAME_S_TOP_COORD : MERIDA_FRAME_COLS) : (this.isBorderShownTop ? MERIDA_FRAME_S_TOP : MERIDA_FRAME_PADDING);
            boardRight = this.isCoordShownRight ? (this.isBorderShownRight ? MERIDA_FRAME_S_RIGHT_COORD : MERIDA_FRAME_ROWS) : (this.isBorderShownRight ? MERIDA_FRAME_S_RIGHT : MERIDA_FRAME_PADDING);
            boardBottom = this.isCoordShownBottom ? (this.isBorderShownBottom ? MERIDA_FRAME_S_BOTTOM_COORD : MERIDA_FRAME_COLS) : (this.isBorderShownBottom ? MERIDA_FRAME_S_BOTTOM : MERIDA_FRAME_PADDING);
            boardLeft = this.isCoordShownLeft ? (this.isBorderShownLeft ? MERIDA_FRAME_S_LEFT_COORD : MERIDA_FRAME_ROWS) : (this.isBorderShownLeft ? MERIDA_FRAME_S_LEFT : MERIDA_FRAME_PADDING);
            boardCorner = this.isCornerStyleRound ? MERIDA_FRAME_S_ROUND_CORNER : MERIDA_FRAME_S_SQUARE_CORNER;
        } else {
            boardTop = this.isCoordShownTop ? (this.isBorderShownTop ? MERIDA_FRAME_D_TOP_COORD : MERIDA_FRAME_COLS) : (this.isBorderShownTop ? MERIDA_FRAME_D_TOP : MERIDA_FRAME_PADDING);
            boardRight = this.isCoordShownRight ? (this.isBorderShownRight ? MERIDA_FRAME_D_RIGHT_COORD : MERIDA_FRAME_ROWS) : (this.isBorderShownRight ? MERIDA_FRAME_D_RIGHT : MERIDA_FRAME_PADDING);
            boardBottom = this.isCoordShownBottom ? (this.isBorderShownBottom ? MERIDA_FRAME_D_BOTTOM_COORD : MERIDA_FRAME_COLS) : (this.isBorderShownBottom ? MERIDA_FRAME_D_BOTTOM : MERIDA_FRAME_PADDING);
            boardLeft = this.isCoordShownLeft ? (this.isBorderShownLeft ? MERIDA_FRAME_D_LEFT_COORD : MERIDA_FRAME_ROWS) : (this.isBorderShownLeft ? MERIDA_FRAME_D_LEFT : MERIDA_FRAME_PADDING);
            boardCorner = this.isCornerStyleRound ? MERIDA_FRAME_D_ROUND_CORNER : MERIDA_FRAME_D_SQUARE_CORNER;
        }

        var generatedHTML = '';
        var divWidth = (this.isCoordShownLeft || this.isBorderShownLeft || this.isCoordPadded ? 1 : 0) + this.colCount + (this.isCoordShownRight || this.isBorderShownRight || this.isCoordPadded ? 1 : 0);
        this.attrClass = VALUE_CLASS_BW_TABLE + (this.attrClass == '' ? '' : ' ' + this.attrClass);
        generatedHTML += '<table class="' + this.attrClass + '"' + (this.attrStyle != '' ? ' style="' + this.attrStyle + '"' : '') + '><tr><td>';

        if (this.isCoordShownTop || this.isBorderShownTop || this.isCoordPadded) {
            generatedHTML += (this.isBorderShownLeft && this.isBorderShownTop ? boardCorner.charAt(0) : (this.isBorderShownLeft || this.isCoordShownLeft || this.isCoordPadded ? MERIDA_FRAME_BLANK : '')) + boardTop.substr(this.coordOriginCol, this.colCount) + (this.isBorderShownRight && this.isBorderShownTop ? boardCorner.charAt(1) : (this.isBorderShownRight || this.isCoordShownRight || this.isCoordPadded ? MERIDA_FRAME_BLANK : '')) + '<br/>';
        }

        var isTopLeftSquareLight = (this.coordOriginRow + this.coordOriginCol + this.rowCount) & 1;
        for (row = 0; row < this.rowCount; row++) {
            var isALightSquare = (row + isTopLeftSquareLight) & 1 ? false : true;
            var inputRow = this.fenCode[row];
            var outputRow = '';
            var isHLOn = false;
            for (col = 0; col < inputRow.length; col++) {
                var cell = inputRow.charAt(col);
                if (cell == '(') { if (!isHLOn) { outputRow += '<span class="' + VALUE_CLASS_BW_SPAN_HL + '">'; } isHLOn = true; }
                else if (cell == ')') { if (isHLOn) { outputRow += '</span>'; } isHLOn = false; }
                else { var idx = FEN.indexOf(cell); if (idx > -1) { outputRow += isALightSquare ? MERIDA_LIGHT.charAt(idx) : MERIDA_DARK.charAt(idx); } isALightSquare = !isALightSquare; }
            }
            generatedHTML += (this.isCoordShownLeft || this.isBorderShownLeft || this.isCoordPadded ? boardLeft.charAt(this.coordOriginRow + this.rowCount - 1 - row) : '') + outputRow + (isHLOn ? '</span>' : '') + (this.isCoordShownRight || this.isBorderShownRight || this.isCoordPadded ? boardRight.charAt(this.coordOriginRow + this.rowCount - 1 - row) : '') + '<br/>';
        }

        if (this.isCoordShownBottom || this.isBorderShownBottom || this.isCoordPadded) {
            generatedHTML += (this.isBorderShownLeft && this.isBorderShownBottom ? boardCorner.charAt(2) : (this.isBorderShownLeft || this.isCoordShownLeft || this.isCoordPadded ? MERIDA_FRAME_BLANK : '')) + boardBottom.substr(this.coordOriginCol, this.colCount) + (this.isBorderShownRight && this.isBorderShownBottom ? boardCorner.charAt(3) : (this.isBorderShownRight || this.isCoordShownRight || this.isCoordPadded ? MERIDA_FRAME_BLANK : '')) + '<br/>';
        }
        generatedHTML += '<div class="nowrap" style="width:' + divWidth + 'em"></div></td></tr></table>';
        return generatedHTML;
    };

    this.generateHTML = function () {
        return this.colorMode ? this.genColorHTML() : this.genBWHTML();
    };
}

function parseChess() {
    var contextColorMode = true;
    var chessElt = document.getElementsByTagName((detectIE() ? '' : XMLNS) + 'chess');
    for (idx = 0; idx < chessElt.length; idx++) {
        var boardFenCode = chessElt[idx].innerHTML;
        var attrBorder = chessElt[idx].getAttribute(ATTR_BORDER) != null ? chessElt[idx].getAttribute(ATTR_BORDER) : '';
        var attrMode = chessElt[idx].getAttribute(ATTR_MODE) != null ? chessElt[idx].getAttribute(ATTR_MODE) == VALUE_MODE_COLOR : contextColorMode;
        var attrStyle = chessElt[idx].getAttribute(ATTR_STYLE) != null ? chessElt[idx].getAttribute(ATTR_STYLE) : '';
        var attrClass = chessElt[idx].getAttribute(ATTR_CLASS) != null ? chessElt[idx].getAttribute(ATTR_CLASS) : '';
        if (typeof chessElt[idx].fenCode != 'undefined') { boardFenCode = chessElt[idx].fenCode; }
        var board = new ChessBoard(boardFenCode, attrBorder, attrMode, attrStyle, attrClass);
        var generatedHTML = board.generateHTML();
        if (generatedHTML.length == 0) { contextColorMode = attrMode; } else { chessElt[idx].innerHTML = generatedHTML; }
        chessElt[idx].fenCode = boardFenCode;
    }
}

function rotateFen180(fenPieces) {
  return fenPieces.split('/').reverse().map(rank => rank.split('').reverse().join('')).join('/');
}

function applyFenToBoard() {
  const raw = ('{{FEN}}' || '').trim();
  const [placement = '', sideRaw = 'w'] = raw.split(/\s+/, 3);
  const side = sideRaw.toLowerCase().startsWith('w') ? 'w' : 'b';
  const lang = (navigator.language || navigator.userLanguage || 'en').slice(0, 2).toLowerCase();
  const labels = {
    fr: { white: "Trait aux blancs", black: "Trait aux noirs", moves: "Trouvez la séquence de coups" },
    de: { white: "Weiß am Zug", black: "Schwarz am Zug", moves: "Finde die Zugfolge" },
    es: { white: "Juegan blancas", black: "Juegan negras", moves: "Encuentra la secuencia de movimientos" },
    it: { white: "Il bianco muove", black: "Il nero muove", moves: "Trova la sequenza di mosse" },
    pt: { white: "Brancas jogam", black: "Pretas jogam", moves: "Encontre a sequência de movimentos" },
    nl: { white: "Wit aan zet", black: "Zwart aan zet", moves: "Vind de zetvolgorde" },
    ru: { white: "Ход белых", black: "Ход чёрных", moves: "Найдите последовательность ходов" },
    zh: { white: "白方走", black: "黑方走", moves: "找出棋步顺序" },
    ja: { white: "白番", black: "黒番", moves: "手順を見つける" },
    pl: { white: "Ruch białych", black: "Ruch czarnych", moves: "Znajdź sekwencję ruchów" },
    tr: { white: "Beyazlar oynar", black: "Siyahlar oynar", moves: "Hamle sırasını bul" },
    en: { white: "White to move", black: "Black to move", moves: "Find the move sequence" }
  };
  const dict = labels[lang] || labels.en;
  const oriented = side === 'w' ? placement : rotateFen180(placement);
  const fig = document.getElementById('fen_fig');
  const toMove = document.getElementById('to_move');
  const movesEl = document.getElementById('moves');
  if (fig) fig.textContent = oriented;
  if (toMove) toMove.textContent = side === 'w' ? dict.white : dict.black;
  if (movesEl) movesEl.textContent = dict.moves;
}

function fitChessBoardToScreen() {
  const table = document.querySelector('table.chess, table.bwchess');
  if (!table) return;
  const board = table.querySelector('td.board > div.board') || table;
  table.style.zoom = '';
  table.style.transform = '';
  table.style.transformOrigin = '';
  const vv = window.visualViewport;
  const vw = (vv ? vv.width : document.documentElement.clientWidth);
  const vh = (vv ? vv.height : window.innerHeight);
  const blocks = document.querySelectorAll('.deck-title, .puzzle-meta, .puzzle-actions');
  let overhead = 0;
  blocks.forEach(el => { overhead += el.getBoundingClientRect().height; });
  const margin = 12;
  const maxW = Math.max(50, vw - margin * 2);
  const maxH = Math.max(50, vh - overhead - margin * 2);
  const rect = board.getBoundingClientRect();
  let z = Math.min(maxW / rect.width, maxH / rect.height, 1);
  z = Math.max(z, 0.25);
  if (z < 1) { table.style.zoom = z; }
}

function scheduleBoardFit() {
  const run = () => requestAnimationFrame(fitChessBoardToScreen);
  run();
  if (document.fonts && document.fonts.ready) {
    document.fonts.ready.then(() => { setTimeout(run, 50); });
  }
}

function onDomReady(fn) {
  if (document.readyState === "loading") { document.addEventListener("DOMContentLoaded", fn); } else { fn(); }
}

onDomReady(function() {
  applyFenToBoard();
  parseChess();
  scheduleBoardFit();
});

window.addEventListener('orientationchange', () => scheduleBoardFit());
window.addEventListener('resize', () => scheduleBoardFit());
</script>
